In [1]:
import pandas as pd
from pathlib import Path

DATA_RAW = Path("/Users/dishasanthosh/Desktop/data_raw")
DATA_PROCESSED = Path("../data_processed")

items = pd.read_csv(DATA_RAW / "olist_order_items_dataset.csv")
payments = pd.read_csv(DATA_RAW / "olist_order_payments_dataset.csv")
fact_orders = pd.read_csv(
    DATA_PROCESSED / "fact_orders.csv",
    parse_dates=[
        "order_purchase_timestamp",
        "order_approved_at",
        "order_delivered_carrier_date",
        "order_delivered_customer_date",
        "order_estimated_delivery_date",
    ]
)

items.head(), payments.head()

(                           order_id  order_item_id  \
 0  00010242fe8c5a6d1ba2dd792cb16214              1
 1  00018f77f2f0320c557190d7a144bdd3              1
 2  000229ec398224ef6ca0657da4fc703e              1
 3  00024acbcdf0a6daa1e931b038114c75              1
 4  00042b26cf59d7ce69dfabb4e55b4fd9              1

                          product_id                         seller_id  \
 0  4244733e06e7ecb4970a6e2683c13e61  48436dade18ac8b2bce089ec2a041202
 1  e5f2d52b802189ee658865ca93d83a8f  dd7ddc04e1b6c2c614352b383efe2d36
 2  c777355d18b72b67abbeef9df44fd0fd  5b51032eddd242adc84c38acab88f23d
 3  7634da152a4610f1595efa32f14722fc  9d7a1d34a5052409006425275ba1c2b4
 4  ac6c3623068f30de03045865e4e10089  df560393f3a51e74553ab94004ba5c87

    shipping_limit_date   price  freight_value
 0  2017-09-19 09:45:35   58.90          13.29
 1  2017-05-03 11:05:13  239.90          19.93
 2  2018-01-18 14:48:30  199.00          17.87
 3  2018-08-15 10:10:18   12.99          12.79
 4  2017-02-13 13:57:51  199.90          18.14  ,
                            order_id  payment_sequential payment_type  \
 0  b81ef226f3fe1789b1e8b2acac839d17                   1  credit_card
 1  a9810da82917af2d9aefd1278f1dcfa0                   1  credit_card
 2  25e8ea4e93396b6fa0d3dd708e76c1bd                   1  credit_card
 3  ba78997921bbcdc1373bb41e913ab953                   1  credit_card
 4  42fdf880ba16b47b59251dd489d4441a                   1  credit_card

    payment_installments  payment_value
 0                     8          99.33
 1                     1          24.39
 2                     1          65.71
 3                     8         107.78
 4                     2         128.45  )

In [2]:
fact_order_items = items.copy()

fact_order_items["item_revenue"] = (
    fact_order_items["price"] + fact_order_items["freight_value"]
)

fact_order_items.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,item_revenue
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,72.19
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,259.83
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,216.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,25.78
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,218.04

In [3]:
fact_order_items.groupby("order_id").size().describe()

count    98666.000000
mean         1.141731
std          0.538452
min          1.000000
25%          1.000000
50%          1.000000
75%          1.000000
max         21.000000
dtype: float64

In [4]:
order_revenue_items = (
    fact_order_items
    .groupby("order_id", as_index=False)
    .agg(
        items_revenue=("item_revenue", "sum"),
        items_count=("order_item_id", "count")
    )
)

order_revenue_items.head()

                           order_id  items_revenue  items_count
0  00010242fe8c5a6d1ba2dd792cb16214          72.19            1
1  00018f77f2f0320c557190d7a144bdd3         259.83            1
2  000229ec398224ef6ca0657da4fc703e         216.87            1
3  00024acbcdf0a6daa1e931b038114c75          25.78            1
4  00042b26cf59d7ce69dfabb4e55b4fd9         218.04            1

In [5]:
order_payments = (
    payments
    .groupby("order_id", as_index=False)
    .agg(
        payment_value=("payment_value", "sum"),
        payment_types=("payment_type", lambda x: ",".join(x.unique()))
    )
)

order_payments.head()

                           order_id  payment_value payment_types
0  00010242fe8c5a6d1ba2dd792cb16214          72.19   credit_card
1  00018f77f2f0320c557190d7a144bdd3         259.83   credit_card
2  000229ec398224ef6ca0657da4fc703e         216.87   credit_card
3  00024acbcdf0a6daa1e931b038114c75          25.78   credit_card
4  00042b26cf59d7ce69dfabb4e55b4fd9         218.04   credit_card

In [6]:
fact_orders_rev = (
    fact_orders
    .merge(order_revenue_items, on="order_id", how="left")
    .merge(order_payments, on="order_id", how="left")
)

fact_orders_rev.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,purchase_month,is_delivered,is_canceled,is_late,delivery_days,ship_days_to_carrier,items_revenue,items_count,payment_value,payment_types
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,2017-10,True,False,False,8.436574,2.366493,38.71,1.0,38.71,"credit_card,voucher"
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,2018-07,True,False,False,13.782037,0.462882,141.46,1.0,141.46,boleto
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04,2018-08,True,False,False,9.394213,0.204595,179.12,1.0,179.12,credit_card
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15,2017-11,True,False,False,13.208750,3.745833,72.20,1.0,72.20,credit_card
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26,2018-02,True,False,False,2.873877,0.893113,28.62,1.0,28.62,credit_card

A) Orders with revenue but canceled?

In [7]:
fact_orders_rev.groupby("order_status")[["items_revenue","payment_value"]].mean()

              items_revenue  payment_value
order_status
approved         120.540000     120.540000
canceled         229.687028     229.208960
created                 NaN     137.620000
delivered        159.826839     159.856357
invoiced         221.117788     220.184682
processing       230.545216     230.545216
shipped          160.153110     160.084878
unavailable      356.748333     207.683924

B) Compare item revenue vs payment value

In [8]:
fact_orders_rev[["items_revenue","payment_value"]].describe()

       items_revenue  payment_value
count   98666.000000   99440.000000
mean      160.577638     160.990267
std       220.466087     221.951257
min         9.590000       0.000000
25%        61.980000      62.010000
50%       105.290000     105.290000
75%       176.870000     176.970000
max     13664.080000   13664.080000

In [9]:
kpis = {
    "total_orders": fact_orders_rev["order_id"].nunique(),
    "delivered_orders": fact_orders_rev["is_delivered"].sum(),
    "canceled_orders": fact_orders_rev["is_canceled"].sum(),
    "total_gmv": fact_orders_rev.loc[fact_orders_rev["is_delivered"], "items_revenue"].sum(),
    "avg_order_value": fact_orders_rev.loc[fact_orders_rev["is_delivered"], "items_revenue"].mean()
}

kpis

{'total_orders': 99441,
 'delivered_orders': np.int64(96478),
 'canceled_orders': np.int64(1234),
 'total_gmv': np.float64(15419773.750000002),
 'avg_order_value': np.float64(159.82683876116837)}

In [10]:
fact_orders_rev.to_csv(DATA_PROCESSED / "fact_orders_revenue.csv", index=False)
print("Saved fact_orders_revenue.csv")

Saved fact_orders_revenue.csv